@CHARSET "ISO-8859-1";

/*
 *	This is only for the admin area.
 */

root { 
    display: block;
}

*	{
	margin: 0px;
	padding: 0px;
}


body {
	background-image: url('/DeltaTiger/templates/Enigma/images/a_bg_test1.png');
}

#header	{
	height:50px;
	wdith:90%;
}

.navbar {
	width: 90%;
    height: 35px;
    text-align: center;
    background-image: url('/DeltaTiger/templates/Enigma/images/grad_anav3.png');
    background-repeat: repeat-x;
    font-size: 20px;
    font-family: "Verdana", Arial, sans-serif;
    margin-bottom:0px;
    margin: auto;
    padding-left: 10px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li
{
    float: left;
    padding: 5px;
    border-right: 1px solid black;
}


.adminBody	{
	width: 90%;
	margin: auto;
	background-image: url('/DeltaTiger/templates/Enigma/images/grad_body_bg1.png');
}

#adminLeftNavBar	{
	width: 20%;
	float: left;
	background-image: url('/DeltaTiger/templates/Enigma/images/grad_body_bg1.png');
}

.adminLeftNavSubBar	{
	width: 90%;
	margin-top: 30px;
	margin-left: 10px;
	padding: 3px;
	background-image: url('/DeltaTiger/templates/Enigma/images/leftnavbarbg.png');
}

.adminLeftNavSubBar ul {
	margin: 10px;
	padding: 4px;
	list-style-type: none;
}

.aNavBarHead	{
	text-size: 15px;
    font-family: "Verdana", Arial, sans-serif;
    font-weight: bold;
    padding: 2px;
}

#adminRightMainBar	{
	width: 75%;
	float: left;
	margin-top: 30px;
	background-image: url('/DeltaTiger/templates/Enigma/images/grad_body_bg1.png');
}

#adminfooter	{
	clear: both;
	width: 90%;
	margin: auto;
	text-align: center;
	padding-top: 25px;
	background-image: url('/DeltaTiger/templates/Enigma/images/grad_body_bg1.png');
}