<div id="body">
	<div class="loginBody">
		<div class="loginCenterHeading"> Enter You Details </div>
		<div class="loginText">
			Username 
		</div>
		<div class="loginInput">
			: &nbsp;&nbsp; <input type="text" name="username" id="login_username" />
		</div>
		<br />
		<div class="loginText">
			Password
		</div>
		<div class="loginInput">
			: &nbsp;&nbsp; <input type="password" name="password" id="login_password" />
		</div>
		<div class="loginSubmit">
			<input type="submit" value="Login" onClick="loginUser()" />
		</div>
	</div>
</div>