<!-- #INCLUDE header.html -->
<!-- #INCLUDE navbar.html -->

<div id="body">
	<div class="loginBody">
		<div class="loginCenterHeading"> Enter Your Login Details </div>
		<div class="loginText">
			Username 
		</div>
		<div class="loginInput">
			: <input type="text" name="username" id="login_username" />
		</div>
		<br />
		<div class="loginText">
			Password
		</div>
		<div class="loginInput">
			: <input type="password" name="password" id="login_password" />
		</div>
		<div class="loginCookieSet">
			<input type = "checkbox" name="cookieset" id="login_cookie_set"/> Stay Logged In ?.
		</div>
		<div class="loginSubmit">
			<input type="submit" value="Login" onClick="loginUser()" />
		</div>
	</div>
</div>

<!-- #INCLUDE footer.html -->