<!--
This contains the nav bar icons to link to other pages
-->

<div class="navbar">
    <ul>
        <li> <a href ="index.php"> Index </a> </li>
        <li> <a href ="blog.php"> Blog </a> </li>
        <li> <a href ="projects.php"> Projects </a> </li>
        <!-- IF not USERLOGGEDIN -->
        <li> <a href ="login.php"> Login </a> </li>
        <!-- ELSE -->
        <li> <a href="control.php"> Control Panel </a></li>
        <!-- ENDIF -->
        <!-- IF USERGROUP == '1' -->
        <li> <a href="admin/index.php"> Admin Area </a></li>
        <!-- ENDIF -->
    </ul>
</div>