<!-- #INCLUDE adminheader.html -->
<!-- #INCLUDE adminnavbar.html -->

<div class="adminBody">
	<div id="leftNavBar">
		<p class="leftNavHeading">View</p>
		<ul>
			<li> <a href="#" id="aj_viewposts">View Posts</a></li>
			<li> <a href="#" id="aj_viewstats">View Stats</a></li>
		</ul>
		
		<p class="leftNavHeading">Admin </p>
		<ul>
			<li> <a href="#" id="aj_newposts">New Post</a></li>
			<li> <a href="#" id="aj_newmail">New Mail</a></li>
		</ul>
	</div>
	<div id="rightMainBar">
	
	</div>
</div>

